---
// Content
import { getCollection } from "astro:content";
const philosophy = await getCollection("philosophy");

// Layout
import Layout from "@/layouts/Layout.astro";

// Components
import AboutHero from "@/components/hero/AboutHero.astro"
import FullOverlay from "@/components/FullOverlay.astro";

// Images
import { Image } from "astro:assets";
import family from "@/assets/family.jpeg";
import PhilosophyCard from "@/components/PhilosophyCard.astro";


---

<Layout title="About Me">

<!-- Hero -->
<AboutHero />

<!-- How It Started -->
<section class="bg-primary">
    <div class="u-container">
            <div class="content-md">
                <p class="eyebrow">How It All Started</h3>
                <h2>The Story Behind Andiamo Away</h1>
                <p>
                    Hi, I’m Kathy Nervegna — founder of Andiamo Away and proud holder of the nickname “The Travel Queen.”</p>
                    
<p>I’ve spent my whole life exploring the world, from train-hopping across Europe in my twenties to savoring street food in Southeast Asia, and everything in between. But for me, travel has never just been about the destination — it’s about the feeling. The joy, the awe, the transformation.</p>

<p>After helping friends and family plan their dream trips for years (and loving every second of it), I realized this passion deserved more. Andiamo Away was born to help people skip the stress and step right into the kind of journeys they’ll remember forever.
                </p>
        </div>
    </div>
</section>

<!-- Full Overlay -->
<FullOverlay class="bg-pattern"    
    desktopImgUrl={family}
    alt="user profile picture" 
/>
<!-- Philosophy -->
 <section class="philosophy bg-primary-light">
    <div class="u-container column-main">
        <div class="content-md">
            <p class="eyebrow">What I Believe</h3>
            <h2>My Travel Philosophy</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus voluptatum exercitationem minus similique nesciunt accusamus quas doloremque accusantium magnam repudiandae, vero reprehenderit. Provident rerum, sit qui inventore neque vitae quasi.</p>
        </div>
        <div class="grid-auto-3">
            {
                philosophy.map((philosophy) => <PhilosophyCard philosophy={philosophy}/>)
            }
        </div>
    </div>
 </section>


</Layout>

<style lang="scss">
    .philosophy {
        .content {
            margin-bottom: var(--_spacing---section-space--main);
        }
    }
</style>