---
// Content
import { getCollection } from "astro:content";
const philosophy = await getCollection("philosophy");

// Layout
import Layout from "@/layouts/Layout.astro";

// Components
import AboutHero from "@/components/hero/AboutHero.astro"
import FullOverlay from "@/components/FullOverlay.astro";

// Images
import { Image } from "astro:assets";
import family from "@/assets/family.jpeg";
import PhilosophyCard from "@/components/PhilosophyCard.astro";


---

<Layout title="About Me">

<!-- Hero -->
<AboutHero />

<!-- How It Started -->
<section class="bg-primary">
    <div class="u-container">
            <div class="content-md">
                <p class="eyebrow">How It All Started</p>
                <h2>The Story Behind Andiamo Away</h1>
                    <h3>Hi, I’m Kathy Nervegna — founder of Andiamo Away and proud holder of the nickname “The Travel Queen.”</h3>
               <p>I’ve spent decades turning travel dreams into reality. What began as a passion for planning unforgettable trips for friends and family eventually became Andiamo Away — a boutique travel service designed to take the stress out of vacation planning and replace it with excitement, ease, and meaningful experiences.</p>
               <p>My love for travel started young, thanks to my parents, and it’s led me on a lifelong journey of exploration. I’ve traveled to 47 U.S. states, 12 European countries, several destinations across South America, Central America, the Caribbean, Mexico, and Canada — many of these adventures shared with my family.</p>
               <p>Today, I continue to travel with my parents, children and grandchildren, often organizing multi-generational trips that create lasting memories and deepen our family bonds. At Andiamo Away, I bring that same heart and experience to every client — helping you explore the world with confidence, connection, and a sense of wonder.</p>

        </div>
    </div>
</section>

<!-- Full Overlay -->
<FullOverlay class="bg-pattern"    
    desktopImgUrl={family}
    alt="user profile picture" 
/>
<!-- Philosophy -->
 <section class="philosophy bg-primary-light">
    <div class="u-container column-main">
        <div class="content-md">
            <p class="eyebrow">What I Believe</h3>
            <h2>My Travel Philosophy</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus voluptatum exercitationem minus similique nesciunt accusamus quas doloremque accusantium magnam repudiandae, vero reprehenderit. Provident rerum, sit qui inventore neque vitae quasi.</p>
        </div>
        <div class="grid-auto-3">
            {
                philosophy.map((philosophy) => <PhilosophyCard philosophy={philosophy}/>)
            }
        </div>
    </div>
 </section>


</Layout>

<style lang="scss">
    .philosophy {
        .content {
            margin-bottom: var(--_spacing---section-space--main);
        }
    }
</style>